---
BasedOnStyle: Google
IndentWidth: 8
ContinuationIndentWidth: 8
AccessModifierOffset: -8
UseTab: Always
ColumnLimit: 0
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
---
